<a routerLink="/screens" class="dash-button">Screens</a>
<a routerLink="/types" class="dash-button">Types</a>
<a routerLink="/status" class="dash-button">Status</a>
<a routerLink="/users" class="dash-button">Users</a>
