.dash-button {
	display: inline-block;
	padding: 1.25em 1.4em;
	font-size: 175%;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
  vertical-align: baseline;
  color: #fff;
  background-color: #343a40;
  margin-right: 1em;
}

.dash-button:hover {
  color: #bbb;
}

a {
  text-decoration: none;
}

