<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a routerLink="/" class="navbar-brand">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/screens">Screens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/types">Types</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/status">Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
    </ul>
  </div>
</nav>
<div class='main container'>
  <router-outlet></router-outlet>
</div>
<hr style="margin-top: 100px;">
<footer class="container-fluid bg-dark">
  &copy; Industrialization - Boostrap 4 | Angular 5 | .NET Core 2 | EF Core 2
</footer>
