<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h1>{{pageTitle}}</h1>
    <button [routerLink]="['/screens', 0]" type="button" class="btn btn-primary">Add</button>
  </div>
  <div class='panel-body'>
    <div class='table-responsive'>
      <table class='table table-stripped'>
        <thead>
          <tr>
            <th>Screen</th>
            <th>Path</th>
            <th>Admin</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf='screens.length === 0'>
          <tr>
            <td>
                No screens to see here.
            </td>
          </tr>
        </tbody>
        <tbody *ngIf='screens.length > 0'>
          <tr *ngFor='let screen of screens'>
            <td>
              <a [routerLink]="['/screens', screen.id]">
                {{ screen.name }}
              </a>
            </td>
            <td>{{ screen.path }}</td>
            <td>{{ screen.isAdmin ? 'Yes' : 'No' }}</td>
            <td>{{ screen.active ? 'Yes' : 'No' }}</td>
            <td>
              <button (click)="delete(screen.id)" type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='error' class='alert alert-danger'>
  Error: {{ error }}
</div>
