<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h1>{{pageTitle}}</h1>
  </div>
  <div class='panel-body'>
    <form (ngSubmit)="onSubmit()" #detail="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input required type="text" class="form-control" id="name" name="name"
        placeholder="Name" [(ngModel)]="screen.name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input required type="text" class="form-control" id="description"
        name="description" placeholder="Description"
        [(ngModel)]="screen.description">
      </div>
      <div class="form-group">
        <label for="path">Path</label>
        <input required type="text" class="form-control" id="path" name="path"
         placeholder="Path" [(ngModel)]="screen.path">
      </div>
      <div class="form-group">
        <label for="thumbPath">ThumbPath</label>
        <input required type="text" class="form-control" id="thumbPath"
        name="thumbPath" placeholder="ThumbPath" [(ngModel)]="screen.thumbPath">
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"
          [(ngModel)]="screen.isAdmin" name="isAdmin"> Admin?
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"
          [(ngModel)]="screen.active" name="active"> Active?
        </label>
      </div>
      <button [disabled]="!detail.form.valid" type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
</div>
<div *ngIf='error' class='alert alert-danger'>
  Error: {{ error }}
</div>
