<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h1>{{pageTitle}}</h1>
    <button [routerLink]="['/users', 0]" type="button" class="btn btn-primary">Add</button>
  </div>
  <div class='panel-body'>
    <div class='table-responsive'>
      <table class='table table-stripped'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Login</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf='users.length === 0'>
          <tr>
            <td>
                No users to see here.
            </td>
          </tr>
        </tbody>
        <tbody *ngIf='users.length > 0'>
          <tr *ngFor='let user of users'>
            <td>
              <a [routerLink]="['/users', user.id]">
                {{ user.name }}
              </a>
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.networkLogin }}</td>
            <td>
              <button (click)="delete(user.id)" type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='error' class='alert alert-danger'>
  Error: {{ error }}
</div>
