<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h1>{{pageTitle}}</h1>
  </div>
  <div class='panel-body'>
    <form (ngSubmit)="onSubmit()" #detail="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input required type="text" class="form-control" id="name" name="name"
        placeholder="Name" [(ngModel)]="user.name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input required type="email" class="form-control" id="email"
        name="email" placeholder="someone@domain"
        [(ngModel)]="user.email">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input required type="tel" class="form-control" id="phone" name="phone"
         placeholder="99999999999" [(ngModel)]="user.phone">
      </div>
      <div class="form-group">
        <label for="networkLogin">Login</label>
        <input required type="text" class="form-control" id="networkLogin"
        name="networkLogin" placeholder="Login" [(ngModel)]="user.networkLogin">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input required type="password" class="form-control" id="password"
        name="password" placeholder="Password" [(ngModel)]="user.password">
      </div>
      <div class="form-group">
        <label for="typeId">Type</label>
        <select required class="form-control" id="typeId" name="typeId"
          [(ngModel)]="user.typeId" >
          <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
        </select>
      </div>
      <div class="form-group">
          <label for="statusId">Status</label>
          <select required class="form-control" id="statusId" name="statusId"
            [(ngModel)]="user.statusId" >
            <option *ngFor="let stat of status" [value]="stat.id">{{stat.name}}</option>
          </select>
        </div>
      <button [disabled]="!detail.form.valid" type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
</div>
<div *ngIf='error' class='alert alert-danger'>
  Error: {{ error }}
</div>
