<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h1>{{pageTitle}}</h1>
    <button disabled [routerLink]="['/status', 0]" type="button" class="btn btn-primary">Add</button>
  </div>
  <div class='panel-body'>
    <div class='table-responsive'>
      <table class='table table-stripped'>
        <thead>
          <tr>
            <th>Status</th>
            <th>Code</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf='status.length === 0'>
          <tr>
            <td>
                No status to see here.
            </td>
          </tr>
        </tbody>
        <tbody *ngIf='status.length > 0'>
          <tr *ngFor='let stat of status'>
            <td>{{ stat.name }}</td>
            <td>{{ stat.code }}</td>
            <td>{{ stat.active ? 'Yes' : 'No' }}</td>
            <td>
              <button disabled (click)="delete(stat.id)" type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='error' class='alert alert-danger'>
  Error: {{ error }}
</div>
