<div class='panel panel-primary'>
    <div class='panel-heading'>
      <h1>{{pageTitle}}</h1>
      <button disabled [routerLink]="['/types', 0]" type="button" class="btn btn-primary">Add</button>
    </div>
    <div class='panel-body'>
      <div class='table-responsive'>
        <table class='table table-stripped'>
          <thead>
            <tr>
              <th>types</th>
              <th>Code</th>
              <th>Active</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf='types.length === 0'>
            <tr>
              <td>
                  No types to see here.
              </td>
            </tr>
          </tbody>
          <tbody *ngIf='types.length > 0'>
            <tr *ngFor='let type of types'>
              <td>{{ type.name }}</td>
              <td>{{ type.code }}</td>
              <td>{{ type.active ? 'Yes' : 'No' }}</td>
              <td>
                <button disabled (click)="delete(type.id)" type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='error' class='alert alert-danger'>
    Error: {{ error }}
  </div>
